[Unit]
Description=Caddy Web Server
Documentation=https://caddyserver.com/docs
After=network.target

[Service]
User=caddy
LimitNOFILE=4096
ExecStart=/opt/caddy/caddy -agree=true -conf=/etc/caddy/Caddyfile -pidfile=/var/run/caddy/caddy.pid -log=stderr
PIDFile=/var/run/caddy/caddy.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
