# change to the hostname you want to bind to
localhost:3000

# change to the correct document root
# in this example config directus is assumed to be root
# you may need to adjust rewrites according to your own setup
root /var/www/directus

# Set the PHP FPM host and port
# Optionally also change the path if you don't want to run PHP everywhere
fastcgi / 127.0.0.1:9000 php

# rewrites for the API routes
rewrite /api {
    regexp ^extensions/([^/]+)
    to {path} /api/api.php?run_extension={1}&{query}
}

rewrite /api {
    to {path} /api/api.php?run_api_router=1&{query} 
}

# other rewrites
rewrite / {
    if {path} not_starts_with /assets
    if {path} not_starts_with /extensions
    if {path} not_starts_with /listviews
    to {path} /index.php
}