DOMAIN {
    gzip {
        level 6
    }
    expires {
        match .css$ 1m
        match .js$ 1m
        match .png$ 1m
        match .jpg$ 1m
        match .gif$ 1m
        match .ico$ 1m
        match .woff$ 1m
        match .woff2$ 1m
        match .ttf$ 1m
        match .eof$ 1m
        match .pdf$ 1s
        match .txt$ 1s
        match .html$ 1s
    }
    root /PATH/TO/ROOT-DIR
    fastcgi / /PATH/TO/FPM-SOCKET php
    internal /PATH/TO/X-ACCELERATION-URL/FOR/FILE/DOWNLOADS
    status 404 {
        /autoload.php
        /composer.json
        /composer.lock
        /composer.phar
        /config.php
        /files/documents/
        /var/
        /media/temp/
        /README.md
        /recovery/
        /.
    }
    rewrite /recovery/install/ {
        to /recovery/install/index.php
    }
    rewrite /recovery/update/ {
        to /recovery/update/index.php
    }    
    rewrite / {
        to /maintenance.html {path} {path}/ /shopware.php
    }
}
