<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{.Doc.title}}</title>

        <link rel="stylesheet" type="text/css" href="styles/main.css" />
    </head>
    <body>
        <header>
            <a href="/"><h1 class="page-title">{{.Doc.sitename}}</h1></a>
        </header>

        <main>
            {{range .Files}}
                {{if ne .Name "index.md" }}
                    <article>
                        <h3><a href="{{.Name}}">{{.Name}}</a></h3>
                            {{if not .IsDir }}
                                {{.Summarize 15}}
                            {{end}}
                    </article>
                {{end}}
            {{end}}
        </main>
    </body>
</html>
