localhost:8080

root <directory where your WP site PHP files are>
gzip
fastcgi / 127.0.0.1:9000 php

# Prevent malicious PHP uploads from running
rewrite {
	r /uploads\/(.*)\.php
	to /
}

rewrite {
	if {path} not_match ^\/wp-admin
	to {path} {path}/ /index.php?{query}
}
