https://domain.io {
  root /home/user/phabricator/webroot
    rewrite / /index.php?__path__=/
    rewrite  {
        to {path} {path}/ /index.php?__path__={path_escaped}&{query}
    }

  fastcgi / /var/run/php5-fpm.sock php
}

